@import url('https://fonts.googleapis.com/css?family=Lato');

$fonts: 'Lato', Helvetica, Tahoma, sans-serif;
$header-color: #333;
$background-color: #ececec;
$wrong-color: #df0000;

a, p, li {
  font: 18px $fonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100% $fonts;
  font-size: 36px;
  color: $header-color;
}

.question {
  width: 70%;
  display: inline;
}

.wrong {
  color: $wrong-color;
}
