<div id="questions">
  <div class="row">
    <h3 *ngIf="!verifying" class="col-md-6 col-md-offset-3">{{timer}} second{{timer !== 1 ? 's' : ''}}</h3>
    <br *ngIf="verifying" />
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Question</h3>
    </div>
    <div class="col-md-4">
      <h3>Your Answer</h3>
    </div>
    <div class="col-md-5 wrong" *ngIf="verifying">
      <h3>Correct Answer</h3>
    </div>
  </div>
  <span *ngFor="let question of questions"
  class="form-group row"
  [ngClass]="{'has-success': !(question.input.trim() === ''), 'has-error': verifying && !question.correct()}"
  [@questionIn]="question.input.trim() !== '' && question.blurred && !verifying ? 'finished' : 'unfinished'"
  (@questionIn.done)="handleAnimationEnd($event, question)">
    <span *ngIf="!question.finished">
      <div class="col-md-3">
        <label>{{question.text}}</label>
      </div>
      <div class="col-md-4">
        <input class="form-control question"
        [(ngModel)]="question.input"
        [disabled]="verifying"
        (blur)="question.blurred = true" />
      </div>
      <div class="col-md-5 wrong" *ngIf="verifying && !question.correct()">
        <p>{{question.displayAnswer}}</p>
      </div>
    </span>
  </span>
  <p *ngIf="verifying">{{scoring}}</p>
  <button class="btn btn-success" *ngIf="verifying" (click)="continue()">{{button}}</button>
</div>
<br />
<a routerLink="/">Back to Intro</a>
